{% extends "layouts/main.html" %}

{% block pageTitle %}
Process online birth registrations – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

<!-- {% block beforeContent %}
  {{ govukBackLink({
    text: "Return to homepage",
    href: "01-life-event-home"
  }) }}
{% endblock %} -->

{% block content %}


 
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters govuk-!-margin-bottom-3">

        <h1 class="govuk-heading-l">
          Process online birth registrations
        </h1>
       

      </div>
    </div>


{# Start by setting counters to 0 #}
{% set toProcessCount = 0 %}
{% set printCount = 0 %}
{% set inpersonCount = 0 %}

{# Loop over all records and increment the right counters #}
{% for record in data.records %}
  {# To be processed: pending, onhold, inreview #}
  {% if record.recordStatus == "pending"
    or record.recordStatus == "onhold"
    or record.recordStatus == "inreview"
    or record.recordStatus == "district"
  %}
    {% set toProcessCount = toProcessCount + 1 %}
  {% endif %}

  {# Completed and ready to print #}
  {% if record.recordStatus == "print" %}
    {% set printCount = printCount + 1 %}
  {% endif %}

  {# Appointments required #}
  {% if record.recordStatus == "inperson" %}
    {% set inpersonCount = inpersonCount + 1 %}
  {% endif %}
{% endfor %}

  
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% set pendingHtml %}
<!-- <h2 class="govuk-heading-m">Pending registrations</h2> -->


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        {% from "govuk/components/select/macro.njk" import govukSelect %}

{{ govukSelect({
  id: "sort",
  name: "sort",
  label: {
    text: "Sort by"
  },
  items: [
    {
      value: "published",
      text: "Date submitted (oldest to newest)",
      selected: true
    },
    {
      value: "updated",
      text: "Days since birth (oldest to newest)"
    },
    {
      value: "views",
      text: "Most recently viewed"
    },
    {
      value: "comments",
      text: "Date submitted (newest to oldest)"
    }
  ]
}) }}

<p class="govuk-body">Showing 1 to 5 of 5 </p>
<!-- this is a count of all records in the data set: {{ data.records | length }} of {{ data.records | length }} -->

<table class="govuk-table govuk-table--small-text-until-tablet pending-table">
  <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">Online birth registrations</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header" style="padding-top: 10px; width: 180px;">System reference number</th>
      <th scope="col" class="govuk-table__header" style="width: 400px;">Mother's name</th>
      
      <th scope="col" class="govuk-table__header" style="width: 120px;">Days since<br>submitted</th>
      <th scope="col" class="govuk-table__header" style="width: 120px;">Days since<br>birth</th>
      
      <th scope="col" class="govuk-table__header govuk-!-text-align-right" style="width: 180px;">Status</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">



 {% for record in data.records %}
 {% if record.recordStatus == "inreview" 
     or record.recordStatus == "onhold" 
     or record.recordStatus == "pending"
     or record.recordStatus == "district"
 %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" style="white-space: nowrap; padding-top: 15px;">
                 {% if record.recordStatus == "inreview" or record.recordStatus == "onhold" %}
                 <a href="/registrar-view-of-online/v3/04-check-answers-page?id={{ record.id }}" class="govuk-link">
                    {{ record.referenceNumber }}
                  </a>
                  {% else %}

                 <a href="/registrar-view-of-online/v3/03-register-page?id={{ record.id }}" class="govuk-link">
                    {{ record.referenceNumber }}
                  </a>
                  {% endif %}
                </td>
                <td class="govuk-table__cell">
                  {{ record.orMotherFirstName }} {{ record.orMotherLastName }}
                </td>
                 <td class="govuk-table__cell">
                  {{ record.daysSinceSubmission }} 
                </td>
                 <td class="govuk-table__cell">
                  {{ record.daysSinceBirth }} 
                </td>
                 <td class="govuk-table__cell govuk-!-text-align-right">
                   {% if record.recordStatus == "onhold" %}
                    
        <strong class="govuk-tag govuk-tag--yellow">On hold</strong>
         {% elif record.recordStatus == "inreview" %}
         <strong class="govuk-tag govuk-tag--grey">Read-only</strong>

          {% else %}
       <strong class="govuk-tag govuk-tag--orange">Ready to process</strong>
        {% endif %}
                  
                </td>
              </tr>
                {% endif %}
            {% endfor %}

  </tbody>
</table>



      </div>
      
    </div>
   

{% endset -%}

{% set printHtml %}
<!--<h2 class="govuk-heading-m">Print certificates</h2>

 <div class="govuk-grid-row govuk-!-padding-2" >

  <div class="govuk-grid-column-one-third govuk-!-padding-4 govuk-!-padding-bottom-8" style="border: 2px solid #cecece;">
    <p><strong class="govuk-body govuk-!-font-weight-bold">To print:</strong></p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        Open by PDF number to view and print the certificate
      </li>
    </ul>
    
  </div>

  <div class="govuk-grid-column-two-thirds govuk-!-padding-4" style="background-color: #f3f2f1; border-left: 10px solid white;">
    <p><strong class="govuk-body govuk-!-font-weight-bold">Select items to:</strong></p> 
     <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
      <ul class="govuk-list govuk-list--bullet govuk-!-padding-right-4">
        <li>
          Download addresses as CSV 
        </li>
      </ul>
      {% from "govuk/components/button/macro.njk" import govukButton %}
<form action="02-pending-list.html#print">
{{ govukButton({
  text: "Download addresses",
  classes: "govuk-button--inverse govuk-!-margin-bottom-0"
}) }}
</form>
    </div>


<div class="govuk-grid-column-one-half">
      <ul class="govuk-list govuk-list--bullet"><li>
     Mark as done and remove from the list
</li></ul>
{% from "govuk/components/button/macro.njk" import govukButton %}
<form action="02-pending-list.html#print">
{{ govukButton({
  text: "Mark as done",
  classes: "govuk-button--warning govuk-!-margin-bottom-0"
}) }}
</form>
</div>
</div>
</div>
</div> -->

<p class="govuk-body govuk-!-width-two-thirds">Open and print certificates for completed registrations. Copy the postal address and only mark as posted once sent.</p>

 <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

   {% from "govuk/components/select/macro.njk" import govukSelect %}

{{ govukSelect({
  id: "sort",
  name: "sort",
  label: {
    text: "Sort by"
  },
  items: [
   {
      value: "updated",
      text: "Date processed (oldest to newest)",
      selected: true
    },
    {
      value: "published",
      text: "Date processed (newest to oldest)"
    },
    {
      value: "comments",
      text: "Date submitted (oldest to newest)"
    }
  ]
}) }}
 </div>
      <div class="govuk-grid-column-one-third govuk-!-padding-top-6" style="text-align: right;">
        {{ govukButton({
  text: "Mark selected as posted",
  classes: "govuk-button--warning govuk-!-margin-bottom-0"
}) }}
</div>
</div>

<div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
<p class="govuk-body">Showing 1 to 5 of 5</p>

<table class="govuk-table govuk-table--small-text-until-tablet pending-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Completed registrations</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
     
      <th scope="col" class="govuk-table__header" style="padding-top: 10px; width: 120px; vertical-align: middle; font-size: 0.9rem;">Child's name<br><br></th>
      <th scope="col" class="govuk-table__header" style="width: 300px; vertical-align: middle; font-size: 0.9rem;">Mother's name<br><br></th>
      
      <th scope="col" class="govuk-table__header" style="width: 100px; vertical-align: middle; font-size: 0.9rem;">Days since<br>submitted</th>
      <th scope="col" class="govuk-table__header" style="width: 100px; vertical-align: middle; font-size: 0.9rem;">Copy  address</th>
      <th scope="col" class="govuk-table__header" style="width: 100px; vertical-align: middle; font-size: 0.9rem;">Open PDF<br>to print</th>
      <th scope="col" class="govuk-table__header" style="width: 100px; vertical-align: middle; font-size: 0.9rem;">Number of certificates</th>
       <th scope="col" class="govuk-table__header" style="width: 140px; vertical-align: bottom; font-size: 0.9rem;">Mark as posted
      <div class="govuk-checkboxes govuk-checkboxes--small govuk-!-margin-bottom-0" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item govuk-!-margin-bottom-0">
        <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
        <label class="govuk-label govuk-checkboxes__label govuk-!-margin-bottom-0" for="organisation" style="font-size: 0.85rem;">Select all</label>
      </div>
      </div>
    </th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">


 
 {% for record in data.records %}
 {% if record.printNumber == "None" %}

  {% elif record.recordStatus == "print" and record.printNumber != "None" %}
    
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" style="white-space: nowrap; padding-top: 15px;">
                  
                    {{ record.childFirstName }}  {{ record.childLastName }}
                  
                </td>
                <td class="govuk-table__cell">
                  {{ record.orMotherFirstName }} {{ record.orMotherLastName }}
                </td>
                 <td class="govuk-table__cell" style="text-align: center;">
                  {{ record.daysSinceSubmission }} 
                </td>
                 <td class="govuk-table__cell">
                  <!-- <a href="#" class="govuk-button govuk-button--secondary" style="padding: 2px 4px !important; font-size: 0.85rem; margin:2px !important;">Copy</a> -->
                
    <!-- <span id="copy-alert" class="govuk-visually-hidden" aria-live="polite"><span>
    <p>Your application reference is: <span id="reference-number">A12-345-X</span> -->
    <button class="govuk-button govuk-button--secondary copy-button" id="copy-reference-number" style="padding: 2px 4px !important; font-size: 0.95rem; margin:2px !important;">Copy</button>
    </p>
    
    
                </td>
                <td class="govuk-table__cell"><a href="/public/images/birth-cert.png" target="_blank" class="govuk-button govuk-button--secondary" style="padding: 2px 4px !important; font-size: 0.95rem; margin:2px !important;">Open PDF</a></td>
                 <td class="govuk-table__cell" style="text-align: center;">
                  {{ record.printNumber }} 
                </td>
                
                <td class="govuk-table__cell" style="padding-top: 1px;">
                  <div class="govuk-checkboxes govuk-checkboxes--small govuk-!-margin-bottom-0" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item govuk-!-margin-bottom-0">
                      <input class="govuk-checkboxes__input govuk-!-margin-bottom-0" id="organisation" name="organisation"
                        type="checkbox" value="hmrc">
                      <label class="govuk-label govuk-checkboxes__label govuk-!-margin-bottom-0" for="organisation"> </label>
                    </div>
                  </div>
                
                </td>
              </tr>
            
            {% endif %}
            {% endfor %}

  </tbody>
</table>



     
    </div>
</div>
{% endset -%}

{% set inpersonHtml %}
<h2 class="govuk-heading-m">Appointments required</h2>
 <p class="govuk-body">
View these registrations to start an in-person registration. The registration is removed from this list once the child’s NHS number has been registered.
</p>

<table class="govuk-table govuk-table--small-text-until-tablet pending-table">
  <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">Online birth submissions</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      
      <th scope="col" class="govuk-table__header" style="width: 400px;">System reference number</th>
      <th scope="col" class="govuk-table__header" style="padding-top: 10px; width: 180px;">Child's name</th>
      <th scope="col" class="govuk-table__header" style="width: 400px;">Mother's name</th>
      
      <th scope="col" class="govuk-table__header" style="width: 120px;">Days since<br>submitted</th>
      <th scope="col" class="govuk-table__header" style="width: 120px;">Days since<br>birth</th>
      
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <!-- <tr class="govuk-table__row">
      <td class="govuk-table__cell" style="white-space: nowrap; padding-top: 15px;"><a href="#" onclick="passData(event, '390 123 4567', '1 October 2025', 'Lila', 'HUSEIN', 'Male', 'Live', '12 Maple Avenue', 'WK3A 0TJ', '29 September 1998', '27', 'no','4-week', 'no', 'no')">390 123 4567</a></td>
      <td class="govuk-table__cell">HUSEIN, Lila</td>
       <td class="govuk-table__cell">HUSEIN, Jebul</td>
      <td class="govuk-table__cell">5</td>
      <td class="govuk-table__cell">47</td>
    </tr> -->

 {% for record in data.records %}
  {% if record.recordStatus == "inperson" %}
    
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" style="white-space: nowrap; padding-top: 15px;">
                  <a href="/registrar-view-of-online/v3/04-check-answers-page?id={{ record.id }}" class="govuk-link">
                    {{ record.referenceNumber }}
                  </a>
                </td>
                 <td class="govuk-table__cell">
                  {{ record.childFirstName }}  {{ record.childLastName }}
                </td>
                 <td class="govuk-table__cell">
                 {{ record.orMotherFirstName }} {{ record.orMotherLastName }}
                </td>
               
                 <td class="govuk-table__cell">
                  {{ record.daysSinceSubmission }} 
                </td>
                 <td class="govuk-table__cell">
                  {{ record.daysSinceBirth }} 
                </td>
                
               
              </tr>
            
            {% endif %}
            {% endfor %}



    </tbody>
    </table>

{% endset -%}





{{ govukTabs({
  items: [
    {
      label: "To be processed (" ~ toProcessCount ~ ")",
      id: "pending",
      panel: {
        html: pendingHtml
      }
    },
    {
      label: "Completed and ready to print (" ~ printCount ~ ")",
      id: "print",
      panel: {
        html: printHtml
      }
    },
    {
      label: "Appointments required (" ~ inpersonCount ~ ")",
      id: "inperson",
      panel: {
        html: inpersonHtml
      }
    }
  ]
}) }}

  
    

{% endblock %}
