{% extends "layouts/main.html" %}

{% block pageTitle %}
   {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
 

{% endblock %}

{% block content %}

 <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

       
<br>
    <div class="govuk-form-group">
       
        <h2 class="govuk-heading-l">
            Digital Registration Service
        </h2>


<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third">

    <div style="background:#f3f2f1; height:180px; width:180px; padding:30px;">
      <a href="" style="text-decoration:none;">
        <img src="/public/images/Baby_Small.svg" alt=""
             style="width:90px; height:90px; display:block; margin-bottom:20px;">
        <span style="font-size:22px; font-weight:bold; color:#1d70b8;">
          Births
        </span>
      </a>
    </div>

  </div>

  <div class="govuk-grid-column-one-third">

    <div style="background:#f3f2f1; height:180px; width:180px; padding:30px;">
      <a href="/births/search/task10/00-death-topic-page.html" style="text-decoration:none;">
        <img src="/public/images/Headstone_Small.svg" alt=""
             style="width:90px; height:90px; display:block; margin-bottom:20px;">
        <span style="font-size:22px; font-weight:bold; color:#1d70b8;">
          Deaths
        </span>
      </a>
    </div>

  </div>

  <div class="govuk-grid-column-one-third">

    <div style="background:#f3f2f1; height:180px; width:180px; padding:30px;">
      <a href="" style="text-decoration:none;">
        <img src="/public/images/heartWithFeet.svg" alt=""
             style="width:90px; height:90px; display:block; margin-bottom:20px;">
        <span style="font-size:22px; font-weight:bold; color:#1d70b8;">
          Stillbirths
        </span>
      </a>
    </div>

  </div>

</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third">

    <div style="background:#f3f2f1; height:180px; width:180px; padding:30px; margin-top:10px;">
      <a href="" style="text-decoration:none;">
        <img src="/public/images/ons-icon-marriage-small.svg" alt=""
             style="width:90px; height:90px; display:block; margin-bottom:20px;">
        <span style="font-size:22px; font-weight:bold; color:#1d70b8;">
          Marriages
        </span>
      </a>
    </div>

  </div>

  <div class="govuk-grid-column-one-third">

    <div style="background:#f3f2f1; height:180px; width:180px; padding:30px; margin-top:10px;">
      <a href="" style="text-decoration:none;">
        <img src="/public/images/ons-icon-stats-release-small.svg" alt=""
             style="width:90px; height:90px; display:block; margin-bottom:20px;">
        <span style="font-size:22px; font-weight:bold; color:#1d70b8;">
          Reports
        </span>
      </a>
    </div>

  </div>

  </div>

</div>

    </div> 
    </div>
  </div>

{% endblock %}
