{% extends "layouts/main.html" %}

{% set serviceName = "Search for a death record" %}

{% block pageTitle %}
  Search for a death record - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}


 <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <div class="govuk-form-group">
       
        <h2 class="govuk-heading-l">
          <span class="govuk-caption-l">Record 771 234 9108</span>
             Alan Davies
        </h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-8">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Source of information</dt>
    <dd class="govuk-summary-list__value">Coroner notification 2 (CN2)</dd>
  </div>
</dl>

<h2 class="govuk-heading-m">Cause of death</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-8">


  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">1(a)</dt>
    <dd class="govuk-summary-list__value">Pneumonia</dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">1(b)</dt>
    <dd class="govuk-summary-list__value">Chronic Obstructive Pulmonary Disease</dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">1(c)</dt>
    <dd class="govuk-summary-list__value"></dd>
  </div>
  
   <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">1(d)</dt>
    <dd class="govuk-summary-list__value"></dd>
  </div>

   <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">2</dt>
    <dd class="govuk-summary-list__value"></dd>
  </div>

</dl>

<h2 class="govuk-heading-m">Deceased's details</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-8">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Date of death</dt>
    <dd class="govuk-summary-list__value">Sixth May 2026</dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Name</dt>
    <dd class="govuk-summary-list__value">Alan DAVIES</dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Sex</dt>
    <dd class="govuk-summary-list__value">Male</dd>
  </div>

</dl>

<h2 class="govuk-heading-m">Place of death</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-8">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Address</dt>
    <dd class="govuk-summary-list__value">Leicester Royal Infirmary (LRI), Infirmary Square, Leicester</dd>
  </div>

</dl>

<h2 class="govuk-heading-m">Personal details</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-8">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Date of birth</dt>
    <dd class="govuk-summary-list__value">Twelfth November 1950</dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Place of birth</dt>
    <dd class="govuk-summary-list__value">Leicester</dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Occupation</dt>
    <dd class="govuk-summary-list__value">Chief Industrial Engineer</dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Occupation status</dt>
    <dd class="govuk-summary-list__value">Retired</dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Usual address</dt>
    <dd class="govuk-summary-list__value">12 Ashcroft Road, Leicester</dd>
  </div>

</dl>

<h2 class="govuk-heading-m">Relationship details</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-8">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Relationship status</dt>
    <dd class="govuk-summary-list__value">Husband</dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Spouse or civil partner's name</dt>
    <dd class="govuk-summary-list__value">Margaret Anne SMITH</dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Spouse or civil partner's occupation</dt>
    <dd class="govuk-summary-list__value">School Secretary</dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Spouse or civil partner's occupation status</dt>
    <dd class="govuk-summary-list__value">Retired</dd>
  </div>

</dl>

<h2 class="govuk-heading-m">Informant's details</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-8">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Name</dt>
    <dd class="govuk-summary-list__value">David John SMITH</dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Qualification</dt>
    <dd class="govuk-summary-list__value">Relative</dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Usual address</dt>
    <dd class="govuk-summary-list__value">6 Meadow Close, Wigston, Leicestershire</dd>
  </div>

</dl>

<h2 class="govuk-heading-m">Coroner's details</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-8">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Name</dt>
    <dd class="govuk-summary-list__value">Fiona Bulter</dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Designation</dt>
    <dd class="govuk-summary-list__value">Assistant Coroner</dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">District</dt>
    <dd class="govuk-summary-list__value">Leicester</dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Area</dt>
    <dd class="govuk-summary-list__value">Leicester City</dd>
  </div>

</dl>

<h2 class="govuk-heading-m">Registrar's details</h2>

<dl class="govuk-summary-list">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Name</dt>
    <dd class="govuk-summary-list__value">Rodger Jones</dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Designation</dt>
    <dd class="govuk-summary-list__value">Deputy Registrar</dd>
  </div>

   <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Registration date</dt>
    <dd class="govuk-summary-list__value">31 July 2026</dd>
  </div>

</dl>


<br>

<dl class="govuk-summary-list govuk-!-margin-bottom-8">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Annotation</dt>
    <dd class="govuk-summary-list__value">CONTENT HERE FOR CORRECTION</dd>
  </div>
</dl>


  </div>

  </div>
</div>

<br>
<br>



  



    </div>


    </div>
  </div>

{% endblock %}
