{% extends "layouts/main.html" %}

{% block pageTitle %}
  Birth notifications after 4 weeks – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
<script>
  function passData(event, nhsNumber, dob, motherFName, motherLName, childsSex, childLife, mothersStreet, mothersPCode, mothersDob, daysSince) {
    event.preventDefault();
    const url = `03-notification-detail.html?nhs-number=${encodeURIComponent(nhsNumber)}&date-of-birth=${encodeURIComponent(dob)}&mothers-first-name=${encodeURIComponent(motherFName)}&mothers-last-name=${encodeURIComponent(motherLName)}&childs-sex=${encodeURIComponent(childsSex)}&child-life=${encodeURIComponent(childLife)}&mothers-street=${encodeURIComponent(mothersStreet)}&mothers-pcode=${encodeURIComponent(mothersPCode)}&mothers-dob=${encodeURIComponent(mothersDob)}&daysSince=${encodeURIComponent(daysSince)}`;
    window.location.href = url;
  }
</script>

 <form class="form" action="03-notification-detail.html" method="post">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters govuk-!-margin-bottom-3">

        <h1 class="govuk-heading-l">
          Unregistered birth notifications (after 4 weeks)
        </h1>
        <p class="govuk-body">NHS birth notifications that need to be registered.</p>

      </div>
      

    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters govuk-!-margin-bottom-4">

        {% from "govuk/components/select/macro.njk" import govukSelect %}

{{ govukSelect({
  id: "sort",
  name: "sort",
  label: {
    html: '<span class="govuk-label--s">District</span>'
  },
  items: [
    {
      value: "published",
      text: "Wakefield",
      selected: true
    },
   
    {
      value: "views",
      text: "District 2"
    },
     {
      value: "views",
      text: "District 3 etc"
    }
  ]
}) }}
</div>
</div>

 <!-- <div class="govuk-grid-row govuk-!-margin-bottom-6">
      <div class="govuk-grid-column-full">
<h2 class="govuk-heading-m">Over 14 weeks after birth</h2>

<p class="govuk-body">16 births after 85 Days remain unregistered &nbsp; <a href="#">View</a></p>
</div>
</div> -->


  <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
<h2 class="govuk-heading-m">Between 6 to 14 weeks after birth</h2>

<p class="govuk-body">(Between 43 to 84 days)</p>
<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-visually-hidden">Warning</span>
   You must report to the GRO about these births
  </strong>
</div>


<table class="govuk-table govuk-table--small-text-until-tablet pending-table">
  <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">NHS birth notifications for births between 43 to 70 days</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header" style="padding-top: 10px;">Child's NHS number</th>
      <th scope="col" class="govuk-table__header">Mother's name</th>
      <th scope="col" class="govuk-table__header">Date of birth</th>
      <th scope="col" class="govuk-table__header">Days since birth</th>
      <th scope="col" class="govuk-table__header">6-week formal <br>requisition due</th>
      
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
       <td class="govuk-table__cell" style="white-space: nowrap; padding-top: 15px;">
        <a href="#" onclick="passData(event, '390 446 7891', '3 September 2025', 'Anna', 'DUFFY', 'Male', 'Stillborn', '17b Avenue Road', 'WK6 7HL', '20 April 1985','70')">390 446 7891</a>
      </td>
      <td class="govuk-table__cell">DUFFY, Anna</td>
      <td class="govuk-table__cell">3 September 2025</td>
      <td class="govuk-table__cell">70</td>
      <td class="govuk-table__cell">15 October 2025</td>
     
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" style="white-space: nowrap; padding-top: 15px;">
         <a href="#" onclick="passData(event, '390 123 4567', '26 September 2025', 'Celine', 'SHORT', 'Female', 'Stillborn', '5a Highfield Close', 'WK8 9HQ', '2 October 1991', '47')">390 123 4567</a>
      </td>
      <td class="govuk-table__cell">LITCHFIELD-JONES, Celine</td>
      <td class="govuk-table__cell">26 September 2025</td>
      <td class="govuk-table__cell">47</td>
      <td class="govuk-table__cell">20 October 2025</td>
     
    </tr>
  
  </tbody>
</table>

      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
<h2 class="govuk-heading-m">Between 4 to 6 weeks after birth</h2>

<p class="govuk-body">(Between 28 to 42 days)</p>


<p class="govuk-body">Showing 1 to 10 of 14</p>

<table class="govuk-table govuk-table--small-text-until-tablet pending-table">
  <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">NHS birth notifications for births between 43 to 70 days</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header" style="padding-top: 10px;">Child's NHS number</th>
      <th scope="col" class="govuk-table__header">Mother's name</th>
      <th scope="col" class="govuk-table__header">Date of birth</th>
      <th scope="col" class="govuk-table__header">Days since birth</th>
      <th scope="col" class="govuk-table__header">4-week informal <br>contact due</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" style="white-space: nowrap; padding-top: 15px;"><a href="#" onclick="passData(event, '390 123 4567', '1 October 2025', 'Lila', 'HUSEIN', 'Male', 'Live', '12 Maple Avenue', 'WK3A 0TJ', '29 September 1998', '42')">390 123 4567</a></td>
      <td class="govuk-table__cell">HUSEIN, Lila</td>
      <td class="govuk-table__cell">1 October 2025</td>
      <td class="govuk-table__cell">42</td>
      <td class="govuk-table__cell">29 October 2025</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" style="white-space: nowrap; padding-top: 15px;"><a href="#" onclick="passData(event, '390 987 6543', '3 October 2025', 'Olivia', 'SMITH', 'Female', 'Stillborn', '177c St. George Lane', 'WK1 2RG', '8 March 1990', '40')">390 987 6543</a></td>
      <td class="govuk-table__cell">SMITH, Olivia</td>
      <td class="govuk-table__cell">3 October 2025</td>
      <td class="govuk-table__cell">40</td>
      <td class="govuk-table__cell">31 October 2025</td>
    </tr>
    <tr class="govuk-table__row">
     <td class="govuk-table__cell" style="white-space: nowrap; padding-top: 15px;"><a href="#" onclick="passData(event, '390 456 7890', '4 October 2025', 'Emily', 'JONES', 'Male', 'Live', '11 Willow Crescent', 'WK12 5PL', '15 August 1989', '39')">390 456 7890</a></td>
       <td class="govuk-table__cell">JONES, Emily</td>
      <td class="govuk-table__cell">4 October 2025</td>
      <td class="govuk-table__cell">39</td>
      <td class="govuk-table__cell">1 November 2025</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" style="white-space: nowrap; padding-top: 15px;"><a href="#" onclick="passData(event, '390 654 3210', '5 October 2025', 'Sophie', 'WILLIAMS', 'Male', 'Live', '114d Kingfisher Way', 'WK4E 8PY', '25 May 1995', '38')">390 654 3210</a></td>
      <td class="govuk-table__cell">WILLIAMS, Sophie</td>
      <td class="govuk-table__cell">5 October 2025</td>
      <td class="govuk-table__cell">38</td>
      <td class="govuk-table__cell">2 November 2025</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" style="white-space: nowrap; padding-top: 15px;"><a href="#" onclick="passData(event, '390 789 0123', '6 October 2025', 'Amelia', 'BROWN', 'Female', 'Died', '88b Church Street', 'WK6 2JK', '18 June 1990','37')">390 789 0123</a></td>
      <td class="govuk-table__cell">BROWN, Amelia</td>
      <td class="govuk-table__cell">6 October 2025</td>
      <td class="govuk-table__cell">37</td>
      <td class="govuk-table__cell">3 November 2025</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" style="white-space: nowrap; padding-top: 15px;"><a href="#" onclick="passData(event, '390 321 6540', '7 October 2025', 'Isla', 'DAVIES', 'Male', 'Live', '56 Oakwood Avenue', 'WK15 4PQ', '21 July 2000', '36')">390 321 6540</a></td>
      <td class="govuk-table__cell">DAVIES, Isla</td>
      <td class="govuk-table__cell">7 October 2025</td>
      <td class="govuk-table__cell">36</td>
      <td class="govuk-table__cell">4 November 2025</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" style="white-space: nowrap; padding-top: 15px;"><a href="#" onclick="passData(event, '390 322 6610', '8 October 2025', 'Ava', 'EVANS', 'Female', 'Live', '121a Church Street', 'WK2 3NZ', '18 June 1999','35')">390 322 6610</a></td>
      <td class="govuk-table__cell">EVANS, Ava</td>
      <td class="govuk-table__cell">8 October 2025</td>
      <td class="govuk-table__cell">35</td>
      <td class="govuk-table__cell">5 November 2025</td>
    </tr>
    <tr class="govuk-table__row">
    <td class="govuk-table__cell" style="white-space: nowrap; padding-top: 15px;"><a href="#" onclick="passData(event, '390 654 9870', '9 October 2025', 'Mia', 'THOMAS', 'Male', 'Live', '41 Briar Hill', 'WK3 5NG', '30 April 1997', '34')">390 654 9870</a></td>
     <td class="govuk-table__cell">THOMAS, Mia</td>
      <td class="govuk-table__cell">9 October 2025</td>
      <td class="govuk-table__cell">34</td>
      <td class="govuk-table__cell">6 November 2025</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" style="white-space: nowrap; padding-top: 15px;"><a href="#" onclick="passData(event, '390 321 9870', '10 October 2025', 'Ella', 'WILSON', 'Male', 'Live', '56 Oakwood Avenue', 'WK15 4PQ', '23 April 2001', '33')">390 321 9870</a></td>
      <td class="govuk-table__cell">WILSON, Ella</td>
      <td class="govuk-table__cell">10 October 2025</td>
      <td class="govuk-table__cell">33</td>
      <td class="govuk-table__cell">7 November 2025</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" style="white-space: nowrap; padding-top: 15px;"><a href="#" onclick="passData(event, '390 789 3210', '11 October 2025', 'Grace', 'ROBERTS', 'Female', 'Live', '80 Victoria Terrace', 'WK5 9MB', '3 October 1998','32')">390 789 3210</a></td>
      <td class="govuk-table__cell">ROBERTS, Grace</td>
      <td class="govuk-table__cell">11 October 2025</td>
      <td class="govuk-table__cell">32</td>
      <td class="govuk-table__cell">8 November 2025</td>
    </tr>
     <tr class="govuk-table__row">
      <td><p class="govuk-body govuk-!-margin-top-2"><a href="#">Show more</a></p></td>
     </tr>
  </tbody>
</table>



      </div>
    </div>


       <div class="govuk-grid-row govuk-!-margin-bottom-6" >
      <div class="govuk-grid-column-full" style="border-bottom: 1px solid #b1b4b6;">
<h2 class="govuk-heading-m">Over 14 weeks after birth</h2>

<p class="govuk-body">16 births after 85 Days remain unregistered &nbsp; </p>
  <p><a href="#">Show all</a></p>
</div>
</div>

</form>

{% endblock %}
