{% extends "layouts/main.html" %}

{% block pageTitle %}
  Birth notifications after 4 weeks – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
<script>
  function passData(event, nhsNumber, dob, motherFName, motherLName, childsSex, childLife, mothersStreet, mothersPCode, mothersDob, daysSince) {
    event.preventDefault();
    const url = `03-notification-detail.html?nhs-number=${encodeURIComponent(nhsNumber)}&date-of-birth=${encodeURIComponent(dob)}&mothers-first-name=${encodeURIComponent(motherFName)}&mothers-last-name=${encodeURIComponent(motherLName)}&childs-sex=${encodeURIComponent(childsSex)}&child-life=${encodeURIComponent(childLife)}&mothers-street=${encodeURIComponent(mothersStreet)}&mothers-pcode=${encodeURIComponent(mothersPCode)}&mothers-dob=${encodeURIComponent(mothersDob)}&daysSince=${encodeURIComponent(daysSince)}`;
    window.location.href = url;
  }
</script>

 <form class="form" action="03-notification-detail.html" method="post">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters govuk-!-margin-bottom-3">

        <h1 class="govuk-heading-l">
         Unregistered birth notifications
        </h1>
      </div>
    </div>

  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-full govuk-!-margin-3 govuk-!-padding-4"
      style="background-color: #f3f2f1; border-bottom: 1px solid #b1b4b6; padding-bottom: 0 !important;">
  
      <div class="govuk-grid-row" id="filters-at-top">
        <div class="govuk-grid-column-one-third">
          {% from "govuk/components/select/macro.njk" import govukSelect %}
  
          {{ govukSelect({
          id: "sort",
          classes: "govuk-!-width-full",
          label: {
          text: "District on notification",
          classes: "govuk-fieldset__legend--s"
          },
          name: "sort",
          items: [
          {
          value: "views",
          text: "Wakefield"
          },
          {
          value: "views",
          text: "Anglesea"
          },
          {
          value: "views",
          text: "Ashbourne"
          },
          {
          value: "views",
          text: "Bath and North East Somerset"
          },
          {
          value: "views",
          text: "Barking and Dagenham"
          },
          {
          value: "views",
          text: "Birmingham"
          },
          {
          value: "views",
          text: "Blackpool"
          },
          {
          value: "views",
          text: "etc"
          }
          ]
          }) }}
  
        </div>
        <div class="govuk-grid-column-one-third">
          {% from "govuk/components/select/macro.njk" import govukSelect %}
  
          {{ govukSelect({
          id: "sort",
          classes: "govuk-!-width-full",
          label: {
          text: "Date range",
          classes: "govuk-fieldset__legend--s"
          },
          name: "sort",
          items: [
          {
          value: "views",
          text: "2 to 4 weeks after birth"
          },
          {
          value: "views",
          text: "4 to 6 weeks after birth"
          },
          {
          value: "views",
          text: "6 weeks after birth",
          selected: true
          },
          {
          value: "views",
          text: "3 months after birth"
          }
          ]
          }) }}
  
        </div>
        <div class="govuk-grid-column-one-third govuk-!-text-align-left">
<button type="submit" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0 govuk-!-margin-top-6 " data-module="govuk-button" style="background-color:	#b1b4b6;">
  Apply filters
</button>
        </div>
      </div>
  
  
    </div>
  </div>

<div class="govuk-grid-row" id="h2-and-csv-btn">
<div class="govuk-grid-column-three-quarters" >
 <h2 class="govuk-heading-m">
          6 weeks after birth 
        </h2>
 <p class="govuk-body">Between 42 to 84 days</p>
</div>
<div class="govuk-grid-column-one-quarter govuk-!-text-align-right"> 

<button type="submit" class="govuk-button govuk-!-margin-bottom-0 govuk-!-margin-top-0" data-module="govuk-button" style="background-color:	#1d70b8;">
  Download CSV
</button>
</div>
</div>

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
     

<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-visually-hidden">Warning</span>
   You must contact the GRO about these births
  </strong>
</div>

<p class="govuk-body ">Showing 1 to 20 of 71</p>
<table class="govuk-table govuk-table--small-text-until-tablet pending-table">
  <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">NHS birth notifications</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header" style="padding-top: 10px;">Child's NHS number</th>
      <th scope="col" class="govuk-table__header">Mother's name</th>
      <th scope="col" class="govuk-table__header">Date of birth</th>
      <th scope="col" class="govuk-table__header">Days since<br>birth</th>
      <th scope="col" class="govuk-table__header">Stillborn<br>or died</th>
      <th scope="col" class="govuk-table__header">6-week formal <br>requisition due</th>
      
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
       <td class="govuk-table__cell" style="white-space: nowrap; padding-top: 15px;">
        <a href="#" onclick="passData(event, '390 446 7891', '3 September 2025', 'Anna', 'DUFFY', 'Male', 'Stillborn', '17b Avenue Road', 'LU6 7HL', '20 April 1985','70')">390 446 7891</a>
      </td>
      <td class="govuk-table__cell">DUFFY, Anna</td>
      <td class="govuk-table__cell">3 September 2025</td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">70</strong></td>
     <td class="govuk-table__cell">Stillborn</td>
      <td class="govuk-table__cell">15 October 2025</td>
     
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" style="white-space: nowrap; padding-top: 15px;">
         <a href="#" onclick="passData(event, '390 123 4567', '12 September 2025', 'Celine', 'SHORT', 'Female', 'Stillborn', '5a Highfield Close', 'LU8 9HQ', '2 October 1991', '61')">390 123 4567</a>
      </td>
      <td class="govuk-table__cell">LITCHFIELD-JONES,<br>Celine</td>
      <td class="govuk-table__cell">12 September 2025</td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">61</strong></td>
      <td class="govuk-table__cell">Stillborn</td>
      <td class="govuk-table__cell">20 October 2025</td>
    </tr>
  
     <tr class="govuk-table__row">
      <td class="govuk-table__cell" style="white-space: nowrap; padding-top: 15px;"><a href="#" onclick="passData(event, '390 123 4567', '14 September 2025', 'Lila', 'HUSEIN', 'Male', 'Live', '12 Maple Avenue', 'LU3A 0TJ', '29 September 1998', '59')">390 123 4567</a></td>
      <td class="govuk-table__cell">HUSEIN, Lila</td>
      <td class="govuk-table__cell">14 September 2025</td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red" >59</strong></td>
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell">29 October 2025</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" style="white-space: nowrap; padding-top: 15px;"><a href="#" onclick="passData(event, '390 789 0123', '16 September 2025', 'Amelia', 'BROWN', 'Female', 'Died', '88b Church Street', 'LU6 2JK', '18 June 1990','57')">390 789 0123</a></td>
      <td class="govuk-table__cell">BROWN, Amelia</td>
      <td class="govuk-table__cell">16 September 2025</td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red" >57</td>
      <td class="govuk-table__cell">Died</td>
      <td class="govuk-table__cell">3 November 2025</td>
    </tr>
     <!-- <tr class="govuk-table__row">
      <td class="govuk-table__cell" style="white-space: nowrap; padding-top: 15px;"><a href="03-notification-detail-v1a.html" onclick="passData(event, '390 123 4567', '17 September 2025', 'Charlotte', 'O CONNELL', 'Male', 'Live', '12 Maple Avenue', 'LU3A 0TJ', '29 September 1998', '56')">390 123 4567</a></td>
      <td class="govuk-table__cell">O CONNELL, Charlotte</td>
      <td class="govuk-table__cell">17 September 2025</td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--orange">56</strong></td>
      <td class="govuk-table__cell"><span style="color: #505a5f;">Live</span></td>
      <td class="govuk-table__cell">29 October 2025</td>
    </tr> -->
     <tr class="govuk-table__row">
      <td class="govuk-table__cell" style="white-space: nowrap; padding-top: 15px;"><a href="03-notification-detail-previous-unregistered.html" >390 123 4567</a></td>
      <td class="govuk-table__cell">O'CONNELL, Charlotte</td>
      <td class="govuk-table__cell">17 September 2025</td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">56</strong></td>
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell">29 October 2025</td>
    </tr>
      <tr class="govuk-table__row">
      <td class="govuk-table__cell" style="white-space: nowrap; padding-top: 15px;"><a href="#" onclick="passData(event, '390 123 4567', '23 September 2025', 'Sophie', 'BENNETT', 'Male', 'Live', '12 Maple Avenue', 'LU3A 0TJ', '29 September 1998', '50')">390 123 4567</a></td>
      <td class="govuk-table__cell">BENNETT, Sophie</td>
      <td class="govuk-table__cell">23 September 2025</td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">50</strong></td>
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell">29 October 2025</td>
    </tr>
     <tr class="govuk-table__row">
      <td class="govuk-table__cell" style="white-space: nowrap; padding-top: 15px;"><a href="#" onclick="passData(event, '390 123 4567', '25 September 2025', 'Priya', 'PATEL', 'Male', 'Live', '12 Maple Avenue', 'LU3A 0TJ', '29 September 1998', '48')">390 123 4567</a></td>
      <td class="govuk-table__cell">PATEL, Priya</td>
      <td class="govuk-table__cell">25 September 2025</td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">48</strong></td>
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell">29 October 2025</td>
    </tr>
     <tr class="govuk-table__row">
      <td class="govuk-table__cell" style="white-space: nowrap; padding-top: 15px;"><a href="#" onclick="passData(event, '390 123 4567', '1 October 2025', 'Olivia', 'FITZGERALD-SMYTHE', 'Male', 'Live', '12 Maple Avenue', 'LU3A 0TJ', '29 September 1998', '42')">390 123 4567</a></td>
      <td class="govuk-table__cell">FITZGERALD-SMYTHE,<br>Olivia</td>
      <td class="govuk-table__cell">1 October 2025</td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">42</strong></td>
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell">29 October 2025</td>
    </tr>
       <tr class="govuk-table__row">
      <td class="govuk-table__cell" style="white-space: nowrap; padding-top: 15px;"><a href="#" onclick="passData(event, '390 123 4567', '1 October 2025', 'Hariet', 'VAN DER MEER', 'Male', 'Live', '12 Maple Avenue', 'LU3A 0TJ', '29 September 1998', '42')">390 123 4567</a></td>
      <td class="govuk-table__cell">VAN DER MEER, Hariet</td>
      <td class="govuk-table__cell">1 October 2025</td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">42</strong></td>
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell">29 October 2025</td>
    </tr>
     <tr class="govuk-table__row">
      <td class="govuk-table__cell" style="white-space: nowrap; padding-top: 15px;"><a href="#" onclick="passData(event, '390 123 4567', '1 October 2025', 'Fatima', 'AL-MANSOURI', 'Male', 'Live', '12 Maple Avenue', 'LU3A 0TJ', '29 September 1998', '42')">390 123 4567</a></td>
      <td class="govuk-table__cell">AL-MANSOURI, Fatima</td>
      <td class="govuk-table__cell">1 October 2025</td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">42</strong></td>
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell">29 October 2025</td>
    </tr>
     <tr class="govuk-table__row">
      <td><p class="govuk-body govuk-!-margin-top-2"><a href="#">Show more</a></p></td>
     </tr>
  </tbody>
</table>

      </div>
    </div>
  

  

</form>

{% endblock %}
