{% extends "layouts/main.html" %}

{% block pageTitle %}
  Birth notifications after 4 weeks – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
<script>
  function passData(event, nhsNumber, dob, motherFName, motherLName, childsSex, childLife, mothersStreet, mothersPCode, mothersDob, daysSince) {
    event.preventDefault();
    const url = `03-notification-detail.html?nhs-number=${encodeURIComponent(nhsNumber)}&date-of-birth=${encodeURIComponent(dob)}&mothers-first-name=${encodeURIComponent(motherFName)}&mothers-last-name=${encodeURIComponent(motherLName)}&childs-sex=${encodeURIComponent(childsSex)}&child-life=${encodeURIComponent(childLife)}&mothers-street=${encodeURIComponent(mothersStreet)}&mothers-pcode=${encodeURIComponent(mothersPCode)}&mothers-dob=${encodeURIComponent(mothersDob)}&daysSince=${encodeURIComponent(daysSince)}`;
    window.location.href = url;
  }
</script>

 <form class="form" action="03-notification-detail.html" method="post">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters govuk-!-margin-bottom-3">

        <h1 class="govuk-heading-l">
          2 to 4 weeks after birth
        </h1>
        <p class="govuk-body">Unregistered between 14 to 27 days after birth</p>

      </div>
    </div>

   <div class="govuk-grid-row govuk-!-margin-bottom-6">
  <div class="govuk-grid-column-three-quarters govuk-!-margin-3 govuk-!-padding-4"  style="background-color: #f3f2f1; border-bottom: 1px solid #b1b4b6; padding-bottom: 0 !important;">

{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% from "govuk/components/input/macro.njk" import govukInput %}


{% set textHtml %}
      {% from "govuk/components/select/macro.njk" import govukSelect %}

{{ govukSelect({
  id: "sort",
  name: "sort",
  items: [
  {
      value: "views",
      text: "Select district"
    },
     {
      value: "views",
      text: "Anglesea"
    },
     {
      value: "views",
      text: "Ashbourne"
    },
     {
      value: "views",
      text: "Bath and North East Somerset"
    },
     {
      value: "views",
      text: "Barking and Dagenham"
    },
     {
      value: "views",
      text: "Birmingham"
    },
    {
      value: "views",
      text: "Blackpool"
    },
     {
      value: "views",
      text: "etc"
    }
  ]
}) }}
{% endset -%}

{{ govukRadios({
  name: "contact",
  classes: "govuk-radios--small govuk-!-margin-bottom-0 govuk-!-padding-bottom-0",
  fieldset: {
    classes: "govuk-!-margin-bottom-0 govuk-!-padding-bottom-0",
    legend: {
      text: "Filter by notifications",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--s"
    }
  },
  
  items: [
    {
      value: "district",
      text: "Wakefield district (48)",
      checked: true
    },
    {
      value: "birth-place",
      text: "Place of birth in Wakefield (2)"
    },
    {
      value: "other",
      text: "Other district",
      conditional: {
        html: textHtml
      }
    }
  ]
}) }}

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Notifications in other districts
    </span>
  </summary>
  <div class="govuk-details__text">
    You can view birth notifications where the place of birth is in Wakefield but the district listed on the notification is elsewhere. 
  </div>
</details>


  
</div>
</div>

  
    {% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Download CSV"
}) }}

 
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">




<table class="govuk-table govuk-table--small-text-until-tablet pending-table">
  <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">NHS birth notifications</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header" style="padding-top: 10px;">Child's NHS number</th>
      <th scope="col" class="govuk-table__header">Mother's name</th>
      <th scope="col" class="govuk-table__header">Date of birth</th>
      <th scope="col" class="govuk-table__header">Days since<br>birth</th>
      <th scope="col" class="govuk-table__header">Stillborn<br>or died</th>
      
      <th scope="col" class="govuk-table__header">4-week informal<br>contact due</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
   
      <tr class="govuk-table__row">
      <td class="govuk-table__cell" style="white-space: nowrap; padding-top: 15px;"><a href="03-notification-detail-multiple.html">390 987 6543</a></td>
      <td class="govuk-table__cell">CHOUDHURY, Meera</td>
      <td class="govuk-table__cell">2 October 2025</td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--light-blue">27</strong></td>
     <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell">31 October 2025</td>
    </tr>
     <tr class="govuk-table__row">
      <td class="govuk-table__cell" style="white-space: nowrap; padding-top: 15px;"><a href="#" onclick="passData(event, '390 987 6543', '2 October 2025', 'Olivia', 'SMITH', 'Female', 'Stillborn', '177c St. George Lane', 'LU1 2RG', '8 March 1990', '41')">390 987 6543</a></td>
      <td class="govuk-table__cell">SMITH, Olivia</td>
      <td class="govuk-table__cell">2 October 2025</td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--light-blue">27</strong></td>
     <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell">31 October 2025</td>
    </tr>
     <tr class="govuk-table__row">
      <td class="govuk-table__cell" style="white-space: nowrap; padding-top: 15px;"><a href="03-notification-detail-multiple.html">390 987 6542</a></td>
      <td class="govuk-table__cell">CHOUDHURY, Meera</td>
      <td class="govuk-table__cell">2 October 2025</td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--light-blue">27</strong></td>
    <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell">31 October 2025</td>
    </tr>
   
    <tr class="govuk-table__row">
     <td class="govuk-table__cell" style="white-space: nowrap; padding-top: 15px;"><a href="#" onclick="passData(event, '390 456 7890', '4 October 2025', 'Emily', 'JONES', 'Male', 'Live', '11 Willow Crescent', 'LU12 5PL', '15 August 1989', '39')">390 456 7890</a></td>
       <td class="govuk-table__cell">JONES, Emily</td>
      <td class="govuk-table__cell">4 October 2025</td>
      
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--light-blue">25</strong></td>
       <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell">1 November 2025</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" style="white-space: nowrap; padding-top: 15px;"><a href="#" onclick="passData(event, '390 654 3210', '5 October 2025', 'Sophie', 'WILLIAMS', 'Male', 'Live', '114d Kingfisher Way', 'LU4E 8PY', '25 May 1995', '38')">390 654 3210</a></td>
      <td class="govuk-table__cell">WILLIAMS, Sophie</td>
      <td class="govuk-table__cell">5 October 2025</td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--light-blue">24</td>
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell">2 November 2025</td>
    </tr>
    
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" style="white-space: nowrap; padding-top: 15px;"><a href="#" onclick="passData(event, '390 321 6540', '7 October 2025', 'Isla', 'DAVIES', 'Male', 'Live', '56 Oakwood Avenue', 'LU15 4PQ', '21 July 2000', '36')">390 321 6540</a></td>
      <td class="govuk-table__cell">DAVIES, Isla</td>
      <td class="govuk-table__cell">7 October 2025</td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--light-blue">23</td>
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell">4 November 2025</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" style="white-space: nowrap; padding-top: 15px;"><a href="#" onclick="passData(event, '390 322 6610', '8 October 2025', 'Ava', 'EVANS', 'Female', 'Live', '121a Church Street', 'LU2 3NZ', '18 June 1999','35')">390 322 6610</a></td>
      <td class="govuk-table__cell">EVANS, Ava</td>
      <td class="govuk-table__cell">8 October 2025</td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--light-blue">22</td>
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell">5 November 2025</td>
    </tr>
    <tr class="govuk-table__row">
    <td class="govuk-table__cell" style="white-space: nowrap; padding-top: 15px;"><a href="#" onclick="passData(event, '390 654 9870', '9 October 2025', 'Mia', 'THOMAS', 'Male', 'Live', '41 Briar Hill', 'LU3 5NG', '30 April 1997', '34')">390 654 9870</a></td>
     <td class="govuk-table__cell">THOMAS, Mia</td>
      <td class="govuk-table__cell">9 October 2025</td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--light-blue">22</td>
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell">6 November 2025</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" style="white-space: nowrap; padding-top: 15px;"><a href="#" onclick="passData(event, '390 321 9870', '10 October 2025', 'Ella', 'WILSON', 'Male', 'Live', '56 Oakwood Avenue', 'LU15 4PQ', '23 April 2001', '33')">390 321 9870</a></td>
      <td class="govuk-table__cell">WILSON, Ella</td>
      <td class="govuk-table__cell">10 October 2025</td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--light-blue">21</td>
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell">7 November 2025</td>
    </tr>
     <tr class="govuk-table__row">
      <td class="govuk-table__cell" style="white-space: nowrap; padding-top: 15px;"><a href="#" onclick="passData(event, '391 001 8771', '10 October 2025', 'Sara', 'THOMPSON-KHAN', 'Male', 'Live', '22a Makepeace Muse', 'LU11 3NN', '14 July 2002', '33')">391 001 8771</a></td>
      <td class="govuk-table__cell">THOMPSON-KHAN,<br>Sara</td>
      <td class="govuk-table__cell">10 October 2025</td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--light-blue">21</td>
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell">7 November 2025</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" style="white-space: nowrap; padding-top: 15px;"><a href="#" onclick="passData(event, '391 789 3210', '11 October 2025', 'Grace', 'ROBERTS', 'Female', 'Live', '80 Victoria Terrace', 'LU5 9MB', '3 October 1998','32')">391 789 3210</a></td>
      <td class="govuk-table__cell">ROBERTS, Grace</td>
      <td class="govuk-table__cell">11 October 2025</td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--light-blue">20</td>
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell">8 November 2025</td>
    </tr>
       <tr class="govuk-table__row">
      <td class="govuk-table__cell" style="white-space: nowrap; padding-top: 15px;"><a href="#" onclick="passData(event, '390 987 6543', '2 October 2025', 'Olivia', 'SMITH', 'Female', 'Stillborn', '177c St. George Lane', 'LU1 2RG', '8 March 1990', '41')">390 987 6543</a></td>
      <td class="govuk-table__cell">SMITH, Olivia</td>
      <td class="govuk-table__cell">2 October 2025</td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--light-blue">20</strong></td>
     <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell">31 October 2025</td>
    </tr>
     <tr class="govuk-table__row">
      <td class="govuk-table__cell" style="white-space: nowrap; padding-top: 15px;"><a href="03-notification-detail-multiple.html">390 987 6542</a></td>
      <td class="govuk-table__cell">CHOUDHURY, Meera</td>
      <td class="govuk-table__cell">2 October 2025</td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--light-blue">20</strong></td>
    <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell">31 October 2025</td>
    </tr>
   
    <tr class="govuk-table__row">
     <td class="govuk-table__cell" style="white-space: nowrap; padding-top: 15px;"><a href="#" onclick="passData(event, '390 456 7890', '4 October 2025', 'Emily', 'JONES', 'Male', 'Live', '11 Willow Crescent', 'LU12 5PL', '15 August 1989', '39')">390 456 7890</a></td>
       <td class="govuk-table__cell">JONES, Emily</td>
      <td class="govuk-table__cell">4 October 2025</td>
      
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--light-blue">19</strong></td>
       <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell">1 November 2025</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" style="white-space: nowrap; padding-top: 15px;"><a href="#" onclick="passData(event, '390 654 3210', '5 October 2025', 'Sophie', 'WILLIAMS', 'Male', 'Live', '114d Kingfisher Way', 'LU4E 8PY', '25 May 1995', '38')">390 654 3210</a></td>
      <td class="govuk-table__cell">WILLIAMS, Sophie</td>
      <td class="govuk-table__cell">5 October 2025</td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--light-blue">19</td>
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell">2 November 2025</td>
    </tr>
    
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" style="white-space: nowrap; padding-top: 15px;"><a href="#" onclick="passData(event, '390 321 6540', '7 October 2025', 'Isla', 'DAVIES', 'Male', 'Live', '56 Oakwood Avenue', 'LU15 4PQ', '21 July 2000', '36')">390 321 6540</a></td>
      <td class="govuk-table__cell">DAVIES, Isla</td>
      <td class="govuk-table__cell">7 October 2025</td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--light-blue">19</td>
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell">4 November 2025</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" style="white-space: nowrap; padding-top: 15px;"><a href="#" onclick="passData(event, '390 322 6610', '8 October 2025', 'Ava', 'EVANS', 'Female', 'Live', '121a Church Street', 'LU2 3NZ', '18 June 1999','35')">390 322 6610</a></td>
      <td class="govuk-table__cell">EVANS, Ava</td>
      <td class="govuk-table__cell">8 October 2025</td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--light-blue">19</td>
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell">5 November 2025</td>
    </tr>
    <tr class="govuk-table__row">
    <td class="govuk-table__cell" style="white-space: nowrap; padding-top: 15px;"><a href="#" onclick="passData(event, '390 654 9870', '9 October 2025', 'Mia', 'THOMAS', 'Male', 'Live', '41 Briar Hill', 'LU3 5NG', '30 April 1997', '34')">390 654 9870</a></td>
     <td class="govuk-table__cell">THOMAS, Mia</td>
      <td class="govuk-table__cell">9 October 2025</td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--light-blue">17</td>
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell">6 November 2025</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" style="white-space: nowrap; padding-top: 15px;"><a href="#" onclick="passData(event, '390 321 9870', '10 October 2025', 'Ella', 'WILSON', 'Male', 'Live', '56 Oakwood Avenue', 'LU15 4PQ', '23 April 2001', '33')">390 321 9870</a></td>
      <td class="govuk-table__cell">WILSON, Ella</td>
      <td class="govuk-table__cell">10 October 2025</td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--light-blue">16</td>
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell">7 November 2025</td>
    </tr>
     <tr class="govuk-table__row">
      <td class="govuk-table__cell" style="white-space: nowrap; padding-top: 15px;"><a href="#" onclick="passData(event, '391 001 8771', '10 October 2025', 'Sara', 'THOMPSON-KHAN', 'Male', 'Live', '22a Makepeace Muse', 'LU11 3NN', '14 July 2002', '33')">391 001 8771</a></td>
      <td class="govuk-table__cell">THOMPSON-KHAN,<br>Sara</td>
      <td class="govuk-table__cell">10 October 2025</td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--light-blue">14</td>
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell">7 November 2025</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" style="white-space: nowrap; padding-top: 15px;"><a href="#" onclick="passData(event, '391 789 3210', '11 October 2025', 'Grace', 'ROBERTS', 'Female', 'Live', '80 Victoria Terrace', 'LU5 9MB', '3 October 1998','32')">391 789 3210</a></td>
      <td class="govuk-table__cell">ROBERTS, Grace</td>
      <td class="govuk-table__cell">11 October 2025</td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--light-blue">14</td>
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell">8 November 2025</td>
    </tr>
     <!-- <tr class="govuk-table__row">
      <td><p class="govuk-body govuk-!-margin-top-2"><a href="#">Show more</a></p></td>
     </tr> -->
  </tbody>
</table>



      </div>
    </div>


  

</form>

{% endblock %}
