{% extends "layouts/main.html" %}

{% block pageTitle %}
   Details of unregistered – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}




  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">
       Details of unregistered birth
      </h1>

</div>
</div>

<nav class="govuk-pagination" aria-label="Pagination">
  <div class="govuk-pagination__prev">
    <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
      <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
        <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
      </svg>
      <span class="govuk-pagination__link-title">
        Previous child<span class="govuk-visually-hidden"> page</span>
      </span>
    </a>
  </div>
  <ul class="govuk-pagination__list">
    <li class="govuk-pagination__item">|</li></ul>
  <!-- <ul class="govuk-pagination__list">
    <li class="govuk-pagination__item">
      <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1">
        1
      </a>
    </li>
    <li class="govuk-pagination__item govuk-pagination__item--current">
      <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2" aria-current="page">
        2
      </a>
    </li>
    <li class="govuk-pagination__item">
      <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
        3
      </a>
    </li>
  </ul> -->
  <div class="govuk-pagination__next">
    <a class="govuk-link govuk-pagination__link" href="#" rel="next">
      <span class="govuk-pagination__link-title">
        Next child<span class="govuk-visually-hidden"> page</span>
      </span>
      <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
        <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
      </svg>
    </a>
  </div>
</nav>
 
<div class="govuk-grid-row govuk-!-margin-bottom-4">
  <div class="govuk-grid-column-full govuk-!-margin-3 govuk-!-padding-5"  style="background-color: #f3f2f1; border-bottom: 1px solid #b1b4b6;">

    <div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <p class="govuk-body-s">
      <strong>Details from the NHS birth notification</strong></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body-s">
      <strong>Child's NHS number</strong><br>
       {{ data['nhs-number'] }}
    </p>
  </div>
 <div class="govuk-grid-column-one-quarter">
     <p class="govuk-body-s">
      <strong>Date of birth</strong><br>
       {{ data['date-of-birth'] }}
    </p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body-s">
      <strong>Sex</strong><br>
      Male
    </p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body-s">
      <strong>Live or stillborn</strong><br>
      Stillborn
    </p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
   <p class="govuk-body-s">
      <strong>Place of birth</strong><br>
      St. Mary's Hospital, Wakefield
    </p>
  </div>
 <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body-s">
      <strong>District on notification</strong><br>
      Wakefield &nbsp; <a href="">Change</a>
    </p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    
  </div>
  <div class="govuk-grid-column-one-quarter">
    
  </div>
</div>

   <div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-!-padding-bottom-4">
    <hr class="govuk-section-break govuk-section-break--visible">
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body-s">
      <strong>Mother's first name</strong><br>
       {{ data['mothers-first-name'] }}
    </p>
  </div>
 <div class="govuk-grid-column-one-quarter">
     <p class="govuk-body-s">
      <strong>Mother's last name</strong><br>
       {{ data['mothers-last-name'] | upper }}
    </p>
  </div>
  <div class="govuk-grid-column-one-quarter">
      <p class="govuk-body-s"><strong>Mother's NHS number</strong><br>
      1087 654 321
    </p>
  </div>
  <div class="govuk-grid-column-one-quarter">
      <p class="govuk-body-s"><strong>Mother's date of birth</strong><br>
      20 April 1991
    </p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p class="govuk-body-s"><strong>Mother's address on notification</strong><br>
      17b Avenue Road,<br>
      Wakefield WK6 4HL
    </p>
  </div>
 
  <div class="govuk-grid-column-one-quarter">
    
  </div>
  <div class="govuk-grid-column-one-quarter">
    
  </div>
</div>

</div>
</div>
      

<div class="govuk-grid-row  govuk-!-margin-bottom-2">
  <div class="govuk-grid-column-full govuk-!-padding-6">

    <div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
     <p class="govuk-body govuk-!-margin-0">
          <strong>Days since birth</strong>
        </p>
    
  

      <div style="padding: 10px; background-color: #f3f2f1;">
          <p class="govuk-heading-xl govuk-!-margin-0">
           70
          </p>
        </div>
      
     
    </p>
    </div>
   
  <div class="govuk-grid-column-three-quarters">
  
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
  
        <p class="govuk-body govuk-!-margin-0">
          <strong>Last contact was due</strong>
        </p>
        <div style="padding: 10px; background-color: #f3f2f1;">
          <p class="govuk-body govuk-!-margin-0">
            <!-- <strong>Last contact was due</strong><br> -->
            Around mid-November <br>Second formal requisition
          </p>
        </div>
      </div>
      <div class="govuk-grid-column-one-half">
       
 <p class="govuk-body govuk-!-margin-0">
          <strong> Next contact will be due</strong>
        </p>
<div style="padding: 10px; background-color: #FFF5B8;">
          <p class="govuk-body govuk-!-margin-0">
            <!-- <strong>Last contact was due</strong><br> -->
            Around end of November <br>Third formal requisition
          </p>
        </div>

        
        
      </div>
    </div>
  
  </div>

</div>

<div>
<div class="govuk-warning-text govuk-!-margin-bottom-3">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-visually-hidden">Warning</span>
   You must report to GRO about this birth
  </strong>
</div>
</div>

</div>
</div>




<h3 class="govuk-heading-m">Expected timeline</h3>
  <p class="govuk-body">(This shows a timeline of when communications were due)</p>
<table class="govuk-table govuk-table--small-text-until-tablet govuk-!-margin-bottom-9">
  
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Contact type</th>
      <th scope="col" class="govuk-table__header">Due date</th>
      <th scope="col" class="govuk-table__header">Due</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Third formal requisition</th>
      <td class="govuk-table__cell">Around end of November</td>
      <td class="govuk-table__cell"></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Second formal requisition</th>
      <td class="govuk-table__cell">Around mid-November</td>
      <td class="govuk-table__cell"></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">6-week formal requisition</th>
      <td class="govuk-table__cell">29 October 2025</td>
      <td class="govuk-table__cell">28 days ago</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">4-week informal contact</th>
      <td class="govuk-table__cell">15 October 2025</td>
      <td class="govuk-table__cell">42 days ago</td>
    </tr>
   
  </tbody>
</table>


 <!-- <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          NHS number
        </dt>
         <dd class="govuk-summary-list__value">
           {{ data['nhs-number'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
         
        </dd>
      </div>
    
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date and time of birth
        </dt>
        <dd class="govuk-summary-list__value">
           {{ data['date-of-birth'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
        
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Sex
        </dt>
        <dd class="govuk-summary-list__value">
          Male
        </dd>
        <dd class="govuk-summary-list__actions">
         
        </dd>
      </div>
       <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Mother's first name
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['mothers-first-name'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
        
      </div>
       <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Mother's last name
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['mothers-last-name'] | upper }}
        </dd>
        <dd class="govuk-summary-list__actions">
         
        </dd>
      </div>
       <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Place of birth
        </dt>
        <dd class="govuk-summary-list__value">
          Central Hospital, Wakefield
        </dd>
        <dd class="govuk-summary-list__actions">
          
        </dd>
      </div>

    </dl>    -->








 

     <form action="01-who-is-informant" method="post" novalidate>


 <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
    Register this birth
  </button>

      </form>

       <!-- <div class="govuk-form-group">
       <p class="govuk-body"><a href="02-notifications.html" class="govuk-link">No, return</a></p>
      </div>    -->
   


{% endblock %}
