{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        Confirm online birth submission
      </h1>
       <h2 class="govuk-heading-m">
        Child's details
      </h2>

     <dl class="govuk-summary-list">
    <!-- First Name -->
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Name</dt>
      <dd class="govuk-summary-list__value">
         {{ data['deceasedFirstName'] or 'Baby' }} {{ data['deceasedMiddleName'] or '' }} {{ (data['deceasedLastName'] or 'DUFFY') | upper }}
          
      </dd>
      <dd class="govuk-summary-list__actions">
      </dd>
    </div>

    <!-- Last Name -->
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Sex</dt>
      <dd class="govuk-summary-list__value">
      {{ data['sex'] or 'Male' }}
      </dd>
      <dd class="govuk-summary-list__actions">
        </dd>
    </div>


   <!-- Last Name -->
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Date of birth</dt>
      <dd class="govuk-summary-list__value">
        {% if data['dateOfDeath-day'] and data['dateOfDeath-month'] and data['dateOfDeath-year'] %}
      {{ data['dateOfDeath-day'] }}/{{ data['dateOfDeath-month'] }}/{{ data['dateOfDeath-year'] }}
    {% else %}
      21 August 2025
    {% endif %}
      </dd>
      <dd class="govuk-summary-list__actions">
       </dd>
    </div>

     <!-- Last Name -->
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Place of birth</dt>
      <dd class="govuk-summary-list__value">
      {{ data['MCCDAddressLine1'] or 'Central Hospital, Wakefield' }}
      </dd>
      <dd class="govuk-summary-list__actions">
        </dd>
    </div>
  </dl>

    <h2 class="govuk-heading-m">
        Mother's details
      </h2>

     <dl class="govuk-summary-list">
<!-- Full name -->
 <div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">Name</dt>
  <dd class="govuk-summary-list__value">
    {{ data['mothersFirstName'] or 'Anna' }} {{ data['mothersMiddleName'] or 'Marie' }} {{ (data['mothersLastName'] or 'DUFFY') | upper }}
   
  </dd>
  <dd class="govuk-summary-list__actions">
    </dd>
</div>

    <!-- First Name -->
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Maiden Name</dt>
      <dd class="govuk-summary-list__value">
       {{ (data['mothersMaidenName'] or "Smith") | upper }}
      </dd>
      <dd class="govuk-summary-list__actions">
       </dd>
    </div>

  
   <!-- Birth place -->
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Place of birth</dt>
      <dd class="govuk-summary-list__value">
        {{ data['mothersPlaceOfBirth'] or "Nottingham" }}
      </dd>
      <dd class="govuk-summary-list__actions">
       </dd>
    </div>
 <!-- Birth country -->
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Country of birth</dt>
      <dd class="govuk-summary-list__value">
        {{ data['mothersCountryOfBirth'] or "England" }}
      </dd>
      <dd class="govuk-summary-list__actions">
       </dd>
    </div>

     <!-- Occupation -->
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Occupation</dt>
      <dd class="govuk-summary-list__value">
        {{ data['mothersOccupation'] or "Florist" }}
      </dd>
      <dd class="govuk-summary-list__actions">
        </dd>
    </div>

     <!-- Birth country -->
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Address</dt>
      <dd class="govuk-summary-list__value">
        23 West Street<br>
        Wakefield <br>
        WA21 3AA
      </dd>
      <dd class="govuk-summary-list__actions">
       </dd>
    </div>




  </dl>

    <h2 class="govuk-heading-m">
        Father's details
      </h2>

     <dl class="govuk-summary-list">
    <!-- First Name -->
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Name</dt>
      <dd class="govuk-summary-list__value">
         
   {{ data['fathersFirstName'] or 'Peter' }} {{ data['fathersMiddleName'] or '' }} {{ (data['fathersLastName'] or 'DUFFY') | upper }}
 
      </dd>
      <dd class="govuk-summary-list__actions">
       </dd>
    </div>

     <!-- Birth place -->
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Place of birth</dt>
      <dd class="govuk-summary-list__value">
        {{ data['fathersPlaceOfBirth'] or "Southampton" }}
        <mark class="hods-highlight">
  <strong>12/12/1995</strong>
</mark>
      </dd>
      <dd class="govuk-summary-list__actions">
       </dd>
    </div>
 <!-- Birth country -->
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Country of birth</dt>
      <dd class="govuk-summary-list__value">
        {{ data['fathersCountryOfBirth'] or "England" }}
      </dd>
      <dd class="govuk-summary-list__actions">
       </dd>
    </div>
   <!-- Occupation -->
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Occupation</dt>
      <dd class="govuk-summary-list__value">
        {{ data['fathersOccupation'] or "Cobbler" }}
      </dd>
      <dd class="govuk-summary-list__actions">
       </dd>
    </div>
    

  </dl>

   




 

   

      <form action="/registrar-view-of-online/v1/confirm-registration-form" method="post" novalidate>

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  name: "userRegistrationSatisfactory",
  fieldset: {
    legend: {
      text: "Is this registration complete?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "yes-complete",
      text: "Yes, mark registration as complete"
    },
    {
      value: "no-an-issue",
      text: "No, there is an issue with this submission"
    }
   
  ]
}) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
