{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        Next steps for this registration
      </h1>
      <p class="govuk-body">If there is an issue with the birth registration, you can contact the informant using their details below.</p>
      
      
      <div class="govuk-!-margin-bottom-7 govuk-!-margin-top-3 govuk-!-padding-3" style="border: solid 1px grey;">
        
      <h2 class="govuk-heading-m">
        Contact details
      </h2>

     <dl class="govuk-summary-list" >
    <!-- First Name -->
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Name</dt>
      <dd class="govuk-summary-list__value">
         {{ data['deceasedFirstName'] or 'Baby' }} {{ data['deceasedMiddleName'] or '' }} {{ (data['deceasedLastName'] or 'DUFFY') | upper }}
          
      </dd>
      <dd class="govuk-summary-list__actions">
      </dd>
    </div>

    <!-- Last Name -->
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Sex</dt>
      <dd class="govuk-summary-list__value">
      {{ data['sex'] or 'Male' }}
      </dd>
      <dd class="govuk-summary-list__actions">
        </dd>
    </div>


   <!-- Last Name -->
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Date of birth</dt>
      <dd class="govuk-summary-list__value">
        {% if data['dateOfDeath-day'] and data['dateOfDeath-month'] and data['dateOfDeath-year'] %}
      {{ data['dateOfDeath-day'] }}/{{ data['dateOfDeath-month'] }}/{{ data['dateOfDeath-year'] }}
    {% else %}
      21 August 2025
    {% endif %}
      </dd>
      <dd class="govuk-summary-list__actions">
       </dd>
    </div>

     <!-- Last Name -->
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Place of birth</dt>
      <dd class="govuk-summary-list__value">
      {{ data['MCCDAddressLine1'] or 'Central Hospital, Wakefield' }}
      </dd>
      <dd class="govuk-summary-list__actions">
        </dd>
    </div>
  </dl>
 
</div>
 

      <form action="/registrar-view-of-online/v1/status-registration-form" method="post" novalidate>

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  name: "userRegistrationStatus",
  fieldset: {
    legend: {
      text: "Update registration status",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: ""
  },
  items: [
    {
      value: "status-on-hold",
      text: "Mark registration as being on hold",
      hint: {
        text: "This will pause the registration while you contact the informant"
      }
    },
    {
      value: "status-in-person",
      text: "Mark as requiring an in-person appointment",
      hint: {
        text: "Select if you will contact the informant to book an in-person appointment"
      }
    },
    {
      value: "status-complete",
      text: "Mark registration as complete",
      hint: {
        text: "If you have contacted the informant and are satisfied with the registration, mark as complete"
      }
    }
  ]
}) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
