{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirmation page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row ">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: "Registration complete",
        html: "System reference number<br><strong>2851234333</strong>"
      }) }}

      <br>


      <!-- <h2 class="govuk-heading-m">
        What to do next
      </h2> 
-->
      <p class="govuk-body">
        We’ve emailed the informant with a confirmation of registration. </p>

<p class="govuk-body">The informant ordered:</p>

 {% if record.printNumber == "none" %}
 <ul class="govuk-list govuk-list--bullet">
<li>No certificates</li>
</ul>
 {% elif record.printNumber == "2" %} 
 <ul class="govuk-list govuk-list--bullet">
 <li>2 certificates</li>
</ul>
<p class="govuk-body">These must be printed and sent to the informant.</p>
  {% else %} 
<ul class="govuk-list govuk-list--bullet">
  <li>1 certificate</li>
  </ul>
  <p class="govuk-body">This must be printed and sent to the informant.</p>

   {% endif %}




      <div class="govuk-grid-row govuk-!-margin-bottom-4 govuk-!-margin-top-6">
        <div class="govuk-grid-column-full">

      <p class="govuk-body">Online registration {{ currentIndex + 1 }} of {{ totalRecords }} has been completed.</p> 
    

<!-- {{ govukButton({
  text: "View next online submission"
}) }} -->
 {% if hasMoreRecords %}
       <form method="post" action="/registrar-view-of-online/v1/06-confirmation-page">
       
        {{ govukButton({
          text: "View next online registration"
        }) }}
      </form>
    {% else %}
      <p class="govuk-body govuk-!-margin-top-6">
        <strong>There are no more pending registrations.</strong>
      </p>
    {% endif %}

</form>
</div>
</div>

       <p  class="govuk-body govuk-!-margin-bottom-3">
        <a href="02-pending-list.html#print">
          Go to print certificates
        </a>
      </p>

      <p  class="govuk-body">
        <a href="02-pending-list">
          Return to online birth registrations
        </a>
      </p>


    </div>
  </div>

{% endblock %}
