{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirmation page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row ">
    <div class="govuk-grid-column-two-thirds">

       <div class="govuk-notification-banner " role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner" style="text-align: center; border-color: #6f72af;">
  <!-- <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Important
    </h2>
  </div> -->
  <div class="govuk-notification-banner__content">
    <h2 class="govuk-panel__title govuk-heading-m" >
      Appointment required
    </h2>

   <div class="govuk-panel__body govuk-body-l">
            System reference number<br>
            <strong>HDJ2123F</strong>
          </div>
  </div>
</div>

      <br>

      <!-- <h2 class="govuk-heading-m">
        What to do next
      </h2> 
-->
      <p class="govuk-body">
        We’ve emailed the informant with a confirmation of registration. </p>

<p class="govuk-body">The informant ordered:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>2 standard certificates</li>
</ul>

<p class="govuk-body">These must be printed and sent to the informant.</p>
      </p>

      <div class="govuk-grid-row govuk-!-margin-bottom-4 govuk-!-margin-top-6">
        <div class="govuk-grid-column-full">
 <form action="04-check-answers-page.html" method="post" novalidate>
{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "View next online submission"
}) }}
</form>
</div>
</div>

       <p  class="govuk-body govuk-!-margin-bottom-3">
        <a href="#">
          Got to print certificates
        </a>
      </p>

      <p  class="govuk-body">
        <a href="../../../01-life-event-home.html">
          Return to online birth submissions
        </a>
      </p>


    </div>
  </div>

{% endblock %}
