{% extends "layouts/main.html" %}

{% set serviceName = "Search for a death record" %}

{% block pageTitle %}
  Search for a death record - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}


 <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <div class="govuk-form-group">
       
        <h2 class="govuk-heading-l">
          <span class="govuk-caption-l">Record 285 123 4333</span>
             Jan DOYLE
        </h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-8">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Source of information</dt>
    <dd class="govuk-summary-list__value">Coroner notification 2 (CN2)</dd>
  </div>
</dl>

<h2 class="govuk-heading-m">Cause of death</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-8">


  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">1(a)</dt>
    <dd class="govuk-summary-list__value">Pneumonia</dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">1(b)</dt>
    <dd class="govuk-summary-list__value">Chronic Obstructive Pulmonary Disease</dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">1(c)</dt>
    <dd class="govuk-summary-list__value"></dd>
  </div>
  
   <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">1(d)</dt>
    <dd class="govuk-summary-list__value"></dd>
  </div>

   <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">2</dt>
    <dd class="govuk-summary-list__value"></dd>
  </div>

</dl>

<h2 class="govuk-heading-m">Deceased's details</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-8">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Date of death</dt>
    <dd class="govuk-summary-list__value">Eighteenth September 2026</dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Name</dt>
    <dd class="govuk-summary-list__value">Jan DOYLE</dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Sex</dt>
    <dd class="govuk-summary-list__value">Female</dd>
  </div>

</dl>

<h2 class="govuk-heading-m">Place of death</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-8">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Address</dt>
    <dd class="govuk-summary-list__value">Leics Carehomes</dd>
  </div>

</dl>

<h2 class="govuk-heading-m">Personal details</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-8">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Date of birth</dt>
    <dd class="govuk-summary-list__value">Twelfth November 1940</dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Place of birth</dt>
    <dd class="govuk-summary-list__value">Leicester</dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Occupation</dt>
    <dd class="govuk-summary-list__value">Teacher</dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Occupation status</dt>
    <dd class="govuk-summary-list__value">Retired</dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Usual address</dt>
    <dd class="govuk-summary-list__value">31 Burgoyne Road, Leicester</dd>
  </div>

</dl>

<h2 class="govuk-heading-m">Relationship details</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-8">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Relationship status</dt>
    <dd class="govuk-summary-list__value">Wife</dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Spouse or civil partner's name</dt>
    <dd class="govuk-summary-list__value">Martin DOYLE</dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Spouse or civil partner's occupation</dt>
    <dd class="govuk-summary-list__value">School Secretary</dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Spouse or civil partner's occupation status</dt>
    <dd class="govuk-summary-list__value">Retired</dd>
  </div>

</dl>

<h2 class="govuk-heading-m">Informant's details</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-8">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Name</dt>
    <dd class="govuk-summary-list__value">David John SMITH</dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Qualification</dt>
    <dd class="govuk-summary-list__value">Present at death</dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Usual address</dt>
    <dd class="govuk-summary-list__value">Leics Carehomes</dd>
  </div>

</dl>

<h2 class="govuk-heading-m">Coroner's details</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-8">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Name</dt>
    <dd class="govuk-summary-list__value">Fiona Bulter</dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Designation</dt>
    <dd class="govuk-summary-list__value">Assistant Coroner</dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">District</dt>
    <dd class="govuk-summary-list__value">Leicester</dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Area</dt>
    <dd class="govuk-summary-list__value">Leicester City</dd>
  </div>

</dl>

<h2 class="govuk-heading-m">Registrar's details</h2>

<dl class="govuk-summary-list">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Name</dt>
    <dd class="govuk-summary-list__value">Reggie Strarr</dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Designation</dt>
    <dd class="govuk-summary-list__value">Deputy Registrar</dd>
  </div>

   <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Registration date</dt>
    <dd class="govuk-summary-list__value">
      <!-- 21 September 2026 -->
<div class="govuk-body" id="today-date"></div>

<script>
  // Get today's date in DD MMMM YYYY format (e.g., 12 June 2024)
  function formatDate(date) {
    const options = { day: 'numeric', month: 'long', year: 'numeric' };
    return date.toLocaleDateString('en-GB', options);
  }
  document.getElementById('today-date').textContent =  formatDate(new Date());
</script>

    </dd>
  </div>

</dl>


<br>

<dl class="govuk-summary-list govuk-!-margin-bottom-8">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Annotation</dt>
    <dd class="govuk-summary-list__value">CONTENT HERE FOR CORRECTION</dd>
  </div>
</dl>


  </div>

  </div>
</div>

<br>
<br>



  



    </div>


    </div>
  </div>

{% endblock %}
